<!--<div id="spree-header">-->
  <!--<header id="header" data-hook>-->
    <!--<div class="container">-->
      <!--<div class="row">-->
        <!--<figure id="logo" class="col-md-4" data-hook>-->
          <!--<%= logo %>-->
        <!--</figure>-->
        <!--<%= render :partial => 'spree/shared/nav_bar' %>-->
      <!--</div>-->
    <!--</div>-->
  <!--</header>-->
  <!--<div class="container">-->
    <!--<%= render :partial => 'spree/shared/main_nav_bar' if store_menu? %>-->
  <!--</div>-->
<!--</div>-->












<header id="header" class="header-four normal">
  <div class="container">
    <div class="row">
      <div class="col-xs-6 col-sm-4">
        <a href="http://theemon.com/f/fit-fab-wp/LivePreview/" class="logo"> <img src="http://theemon.com/f/fit-fab-wp/LivePreview/wp-content/themes/fitfab/assets/images/home-1_logo.png" alt="Fitfab"><span>HEALTH &amp; FITNESS</span></a>
        <div class="calling-contact">
          <span>CALL US NOW</span>
          <a href="#">215 123 4567</a>
        </div>
      </div>
      <div class="col-xs-6 col-sm-8 pull-right mobile-static">
        <nav class="navbar">

          <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>

          </div>

          <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <nav class="navbar"><ul id="menu-primary-navigation" class="nav navbar-nav"><li id="menu-item-2515" class="menu-item menu-item-type-custom menu-item-object-custom current-menu-ancestor current-menu-parent menu-item-has-children menu-item-2515"><a href="#">Home</a>
              <ul class="sub-menu">
                <li id="menu-item-1921" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1921"><a href="http://theemon.com/f/fit-fab-wp/LivePreview/">Homepage</a></li>
                <li id="menu-item-2062" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2062"><a href="http://theemon.com/f/fit-fab-wp/LivePreview/homepage-one/">Homepage One</a></li>
                <li id="menu-item-2061" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2061"><a href="http://theemon.com/f/fit-fab-wp/LivePreview/homepage-two/">Homepage-Two</a></li>
                <li id="menu-item-2060" class="menu-item menu-item-type-post_type menu-item-object-page current-menu-item page_item page-item-2058 current_page_item menu-item-2060"><a href="http://theemon.com/f/fit-fab-wp/LivePreview/homepage-three/">Homepage-Three</a></li>
              </ul>
            </li>
              <li id="menu-item-2137" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2137"><a href="http://theemon.com/f/fit-fab-wp/LivePreview/about-2/">About</a></li>
              <li id="menu-item-2313" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2313"><a href="http://theemon.com/f/fit-fab-wp/LivePreview/classes/">Classes</a></li>
              <li id="menu-item-2368" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2368"><a href="http://theemon.com/f/fit-fab-wp/LivePreview/schedule/">Schedule</a></li>
              <li id="menu-item-2351" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2351"><a href="http://theemon.com/f/fit-fab-wp/LivePreview/trainers/">Trainers</a></li>
              <li id="menu-item-2416" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-2416"><a href="#">Pages</a>
                <ul class="sub-menu">
                  <li id="menu-item-2469" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2469"><a href="http://theemon.com/f/fit-fab-wp/LivePreview/blog-2/">Blog</a></li>
                  <li id="menu-item-2197" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2197"><a href="http://theemon.com/f/fit-fab-wp/LivePreview/events/">Events</a></li>
                  <li id="menu-item-2136" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2136"><a href="http://theemon.com/f/fit-fab-wp/LivePreview/faq/">Faq</a></li>
                  <li id="menu-item-2354" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2354"><a href="http://theemon.com/f/fit-fab-wp/LivePreview/pricing-packages/">Pricing Packages</a></li>
                  <li id="menu-item-2618" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2618"><a href="http://theemon.com/f/fit-fab-wp/LivePreview/shortcode/">shortcode</a></li>
                </ul>
              </li>
              <li id="menu-item-2158" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2158"><a href="http://theemon.com/f/fit-fab-wp/LivePreview/contact/">Contact</a></li>
            </ul></nav>                    </div><!-- /.navbar-collapse -->

        </nav>
      </div>

    </div>

  </div>

</header>